bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.DS_Store
# JetBrains Rider/IntelliJ
.idea/

# JetBrains Rider/IntelliJ
.idea/

# Node modules and related
node_modules/
package-lock.json
src/Rise.Server/Data/

src/Rise.Server/appsettings.json


src/Rise.Server/Logs/

Rise.sln.DotSettings.user

src/Rise.Server/Rise.db

src/Rise.Server/Rise.db-shm

src/Rise.Server/Rise.db-wal

.idea/

node_modules/
package-lock.json
src/Rise.Server/appsettings.json
