@inherits LayoutComponentBase
<div class="min-h-screen flex flex-col overflow-x-hidden">
    <Header/>
    <main class="flex-1 overflow-y-auto">
        <section class="section">
            @Body
        </section>
    </main>
    <NavBar/>
</div>